# ============================================================
# Python virtual environment
# ============================================================
.venv/
venv/
env/

# ============================================================
# Python cache / temporary files
# ============================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ============================================================
# VS Code
# ============================================================
.vscode/

# ============================================================
# macOS / Windows junk
# ============================================================
.DS_Store
Thumbs.db
desktop.ini

# ============================================================
# Python / IDE temporary files
# ============================================================
*.log
*.tmp
*.temp
*.swp
*.swo

# ============================================================
# Jupyter
# ============================================================
.ipynb_checkpoints/

# ============================================================
# Ignore old lecture materials
# ============================================================
Bài Giảng 2025/
rtl/demod_raw.py